<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=currentUser.username%></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h3><%=currentUser.username%> Pantry</h3>
    <ul>
        <%pantry.forEach((item)=> {%>
            <li><%=item.name%></li>
        <%})%>
    </ul> 
</body>
</html>